@media (max-width: 615px){
    .navbar{
        flex-direction: column;
        height: 100%;
    }
    .navbar> .links-navbar{
        order: 1;
        margin-right: 55px;
    }
    .navbar> .bottoms-navbar{
        order: 1;
        margin-right: 95px;  
        margin-bottom: 10px; 
    }
    .content-section{
        display: grid;
        grid-template-columns: 1fr;
        height: 100%;
    }
    .content-section> .column-left> .btns{
        width: 90%;
    }
    .content-section> .column-right{
        margin-right: 10px;
    }
    .footer{
        flex-direction: column;
        height: 100%; 
        font-size: 10px;
    }
    .footer> .codepen-items a {
        align-items: center;
        font-size: 15px;
        padding-left: 20px;
    }

}